.navbar {
  display: flex;
  flex-direction: row;
  height: 60px;
  background-color: #fafafa;
  justify-content: space-between;
  font-family: Arial;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  height: 60px;
  padding: 0 10px 0 10px;
}
.name {
  font-size: 30px;
}

.hamburger {
  height: 40px;
  padding-right: 20px;
}
