:root {
  --element-spacing: 1.5rem;
  --text-color: #a53232;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--element-spacing);
  background-color: white;
}

.navbar > * {
  color: var(--text-color);
  font-weight: bold;
}

.left {
  display: flex;
  align-items: center;
}

.left > * {
  margin-right: var(--element-spacing);
}

.right {
  display: flex;
  align-items: center;
}

.right > * {
  margin-left: var(--element-spacing);
}

.logo {
  height: 2.7rem;
  width: 3rem;
  object-fit: contain;
  margin-top: 0;
}

:global(.button).signUpButton {
  background-color: #a53232;
  color: white;
  font-weight: bold;
}

span:nth-child(2) {
  font-size: 2rem;
}
